
	div {
		margin: 0 auto;
	}


	#g-life_expectancy-box .g-artboard {
		margin:0 auto;
	}
	#g-life_expectancy-box .g-artboard p {
		margin:0;
	}
	.g-aiAbs {
		position:absolute;
	}
	.g-aiImg {
		display:block;
		width:100% !important;
	}
	.g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	.g-aiPointText p { white-space: nowrap; }
	#g-life_expectancy-Artboard_1 {
		position:relative;
		overflow:hidden;
	}
	#g-life_expectancy-Artboard_1 p {
		font-family:Playfair Display,arial,helvetica, serif;
		font-weight:400;
		font-size:16px;
		line-height:36px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
	}
	#g-life_expectancy-Artboard_1 .g-pstyle0 {
		font-family:Copperplate,helvetica,serif;
		font-size:28px;
		line-height:34px;
		text-align:center;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle1 {
		font-family:Copperplate,helvetica,serif;
		font-size:100px;
		line-height:120px;
		text-align:center;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle2 {
		font-family:Copperplate,helvetica,serif;
		font-size:18px;
		line-height:22px;
		text-align:center;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle3 {
		font-size:12px;
		line-height:14px;
		color:rgb(38,38,38);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle4 {
		font-size:14px;
		line-height:17px;
		color:rgb(38,38,38);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle5 {
		font-size:12px;
		line-height:14px;
		mix-blend-mode:multiply;
		color:rgb(73,73,73);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle6 {
		font-size:23px;
		line-height:27px;
		mix-blend-mode:multiply;
		text-transform:uppercase;
		color:rgb(73,73,73);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle7 {
		font-size:10px;
		line-height:12px;
		mix-blend-mode:multiply;
		letter-spacing:0.2em;
		text-transform:uppercase;
		color:rgb(193,193,193);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle8 {
		font-size:8px;
		line-height:9px;
		color:rgb(153,153,153);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle9 {
		font-size:10px;
		line-height:12px;
		mix-blend-mode:multiply;
		letter-spacing:0.6em;
		text-transform:uppercase;
		color:rgb(193,193,193);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle10 {
		font-size:28px;
		line-height:34px;
		text-align:center;
	}
	#g-life_expectancy-Artboard_1 .g-pstyle11 {
		font-size:10px;
	}
	#g-life_expectancy-Artboard_1 .g-pstyle12 {
		font-size:10px;
		height:36px;
	}
	#g-life_expectancy-Artboard_1 .g-pstyle13 {
		font-size:30px;
		line-height:24px;
		color:rgb(74,10,229);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle14 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-style:italic;
		font-size:12px;
		line-height:14px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle15 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-style:italic;
		font-size:12px;
		line-height:14px;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle16 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:10px;
		line-height:16px;
		color:rgb(217,217,217);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle17 {
		font-size:20px;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle18 {
		font-weight:500;
		font-size:10px;
		line-height:12px;
		height:12px;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle19 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:21px;
		line-height:25px;
		text-align:center;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle20 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		line-height:19px;
		text-align:center;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle21 {
		font-weight:500;
	}
	#g-life_expectancy-Artboard_1 .g-pstyle22 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:21px;
		line-height:25px;
	}
	#g-life_expectancy-Artboard_1 .g-pstyle23 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:9px;
		line-height:11px;
		text-align:center;
	}
	#g-life_expectancy-Artboard_1 .g-pstyle24 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:10px;
		line-height:14px;
	}
	#g-life_expectancy-Artboard_1 .g-pstyle25 {
		font-size:20px;
		line-height:23px;
	}
	#g-life_expectancy-Artboard_1 .g-pstyle26 {
		font-size:18px;
		line-height:23px;
	}
	#g-life_expectancy-Artboard_1 .g-pstyle27 {
		font-size:18px;
		line-height:18px;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle28 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:10px;
		line-height:16px;
		color:rgb(216,216,216);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle29 {
		font-size:30px;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle30 {
		font-size:18px;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle31 {
		font-size:24px;
		text-align:center;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle32 {
		font-size:14px;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle33 {
		font-size:13px;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_1 .g-pstyle34 {
		font-size:30px;
	}
	#g-life_expectancy-Artboard_1 .g-cstyle0 {
		font-size:18px;
	}
	#g-life_expectancy-Artboard_1 .g-cstyle1 {
		font-size:28px;
		color:rgb(0,0,255);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle2 {
		font-size:18px;
		color:rgb(0,0,255);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle3 {
		font-size:21px;
	}
	#g-life_expectancy-Artboard_1 .g-cstyle4 {
		font-size:20px;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle5 {
		color:rgb(244,11,11);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle6 {
		font-size:23px;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle7 {
		font-size:20px;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle8 {
		font-size:23px;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle9 {
		font-size:20px;
		color:rgb(0,0,0);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle10 {
		color:rgb(10,10,237);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle11 {
		font-size:23px;
	}
	#g-life_expectancy-Artboard_1 .g-cstyle12 {
		font-size:40px;
		color:rgb(74,10,229);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle13 {
		font-weight:700;
		font-style:italic;
		font-size:16px;
		color:rgb(1,110,174);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle14 {
		color:rgb(204,0,36);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle15 {
		font-size:45px;
		color:rgb(1,110,174);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle16 {
		font-size:45px;
		color:rgb(204,0,36);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle17 {
		font-weight:700;
		font-style:italic;
		font-size:16px;
		color:rgb(204,0,36);
	}
	#g-life_expectancy-Artboard_1 .g-cstyle18 {
		font-size:14px;
	}
	#g-life_expectancy-Artboard_2 {
		position:relative;
		overflow:hidden;
	}
	#g-life_expectancy-Artboard_2 p {
		font-family:Playfair Display,arial,helvetica, serif;
		font-weight:400;
		font-size:14px;
		line-height:36px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle0 {
		font-family:Copperplate,helvetica,serif;
		font-weight:700;
		font-size:60px;
		line-height:72px;
		text-align:center;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle1 {
		font-family:Copperplate,helvetica,serif;
		font-size:12px;
		line-height:14px;
		text-align:center;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle2 {
		font-family:Copperplate,helvetica,serif;
		font-size:16px;
		line-height:19px;
		text-align:center;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle3 {
		line-height:27px;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle4 {
		line-height:17px;
		color:rgb(38,38,38);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle5 {
		font-size:12px;
		line-height:14px;
		color:rgb(38,38,38);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle6 {
		font-size:10px;
		line-height:12px;
		color:rgb(73,73,73);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle7 {
		font-size:17px;
		line-height:20px;
		text-transform:uppercase;
		color:rgb(73,73,73);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle8 {
		font-size:10px;
		line-height:12px;
		text-align:right;
		color:rgb(73,73,73);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle9 {
		font-size:8px;
		line-height:9px;
		letter-spacing:0.2em;
		text-transform:uppercase;
		color:rgb(193,193,193);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle10 {
		font-size:6px;
		line-height:7px;
		color:rgb(153,153,153);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle11 {
		font-size:8px;
		line-height:9px;
		letter-spacing:0.6em;
		text-transform:uppercase;
		color:rgb(193,193,193);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle12 {
		font-size:16px;
		line-height:22px;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle13 {
		font-size:10px;
		line-height:22px;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle14 {
		font-size:8px;
		line-height:22px;
		height:22px;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle15 {
		line-height:17px;
		text-align:center;
		color:rgb(74,10,229);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle16 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-style:italic;
		font-size:10px;
		line-height:12px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle17 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-style:italic;
		font-size:10px;
		line-height:12px;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle18 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:10px;
		line-height:10px;
		text-align:right;
		color:rgb(217,217,217);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle19 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:10px;
		line-height:10px;
		color:rgb(217,217,217);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle20 {
		line-height:18px;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle21 {
		font-weight:500;
		font-size:5px;
		line-height:6px;
		height:6px;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle22 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:11px;
		line-height:13px;
		text-align:center;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle23 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:8px;
		line-height:10px;
		text-align:center;
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle24 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:18px;
		line-height:22px;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle25 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:8px;
		line-height:9px;
		text-align:center;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle26 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:10px;
		line-height:10px;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle27 {
		font-size:16px;
		line-height:16px;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle28 {
		line-height:16px;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle29 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:10px;
		line-height:10px;
		text-align:right;
	}
	#g-life_expectancy-Artboard_2 .g-pstyle30 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:10px;
		line-height:10px;
		text-align:right;
		color:rgb(216,216,216);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle31 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:10px;
		line-height:10px;
		color:rgb(216,216,216);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle32 {
		font-family:Century Gothic,helvetica,sans-serif;
		font-weight:300;
		font-size:10px;
		line-height:10px;
		text-align:center;
		color:rgb(216,216,216);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle33 {
		font-size:24px;
		text-align:center;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle34 {
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle35 {
		font-size:15px;
		text-align:center;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle36 {
		font-size:13px;
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_2 .g-pstyle37 {
		line-height:18px;
		text-align:center;
	}
	#g-life_expectancy-Artboard_2 .g-cstyle0 {
		font-size:17px;
		color:rgb(0,0,255);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle1 {
		color:rgb(0,0,255);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle2 {
		font-size:17px;
	}
	#g-life_expectancy-Artboard_2 .g-cstyle3 {
		color:rgb(255,255,255);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle4 {
		color:rgb(244,11,11);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle5 {
		color:rgb(249,249,249);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle6 {
		color:rgb(0,0,0);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle7 {
		color:rgb(10,10,237);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle8 {
		color:rgb(74,10,229);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle9 {
		font-weight:700;
		font-style:italic;
		font-size:12px;
		color:rgb(1,110,174);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle10 {
		color:rgb(204,0,36);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle11 {
		font-size:31px;
		color:rgb(1,110,174);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle12 {
		font-size:14px;
	}
	#g-life_expectancy-Artboard_2 .g-cstyle13 {
		font-size:31px;
		color:rgb(204,0,36);
	}
	#g-life_expectancy-Artboard_2 .g-cstyle14 {
		font-size:16px;
	}
	#g-life_expectancy-Artboard_2 .g-cstyle15 {
		font-weight:700;
		font-style:italic;
		font-size:12px;
		color:rgb(204,0,36);
	}
